################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/VETS4212_Utilities/VETS4212_Utilities/bin/Debug/vets4212_20160916.log
