<?xml version="1.0"?>
<configuration>
  <!-- Specific Application Setting -->
  <!--
    Keys logEnabled and internalAccess are defaulted to false
    these items should not be included to external users
  -->
  <appSettings>
    <add key="webAddress" value="https://admintools2.dol.gov/vets4212/"/>
    <add key="searchAddress" value="https://admintools2.dol.gov/vets4212/Internal/Report/ExecuteSearch"/>
    <add key="pdfWebAddress" value="https://admintools2.dol.gov/vets4212/Internal/Report/Pdf/"/>
    <add key="companyInformationAddress" value="https://admintools2.dol.gov/vets4212/Internal/Company/View/"/>
    <add key="reportInformationAddress" value="https://admintools2.dol.gov/vets4212/Internal/Report/View/"/>
    <add key="dolApiAddress" value="https://api.dol.gov/v1/vets100/"/>
    <add key="logEnabled" value="false"/>
    <add key="internalAccess" value="true"/>
    <add key="bypassCompanyValidation" value="false"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
  </startup>
</configuration>
